macro_leader_pf: macro_leader_pf{
compatible = "zmk,behavior-macro";
label = "macro_leader_pf";
#binding-cells = <0>;
bindings = <&kp SPACE>, <&kp P>, <&kp F>;
};
macro_leader_pv: macro_leader_pv{
compatible = "zmk,behavior-macro";
label = "macro_leader_pv";
#binding-cells = <0>;
bindings = <&kp SPACE>, <&kp P>, <&kp V>;
};